replicaCount: 1

image:
  repository: quay.io/edge-infrastructure/console-plugin-nvidia-gpu
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  # tag: ""
imagePullSecrets: []

nameOverride: ""
fullnameOverride: ""

resources:
  requests:
    cpu: 10m
    memory: 50Mi
  # limits:
  #   cpu: 100m
  #   memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}

plugin:
  port: 9443
  basePath: /

podSecurityContext:
  runAsNonRoot: true
  seccompProfile:
    type: RuntimeDefault

containerSecurityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL
