.gpu-dashboard-card-graphs-footer .pf-c-chart {
  border-top: dotted;
  border-color: black;
  border-top-width: 1px;
}

/* Sparkline chart 
g[role=presentation] text {
  font-size: 20px !important;
}
*/