apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "console-plugin-nvidia-gpu.fullname" . }}
  labels:
    {{- include "console-plugin-nvidia-gpu.labels" . | nindent 4 }}
data:
  dcgm-metrics.csv: |
{{ .Files.Get "files/dcgm-metrics.csv" | indent 4 }}
