name: Lint and test chart

on: pull_request

jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v1
        with:
          version: v3.7.2

      - uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.2.0

      - name: Run chart-testing (lint)
        run: ct lint --config deployment/ct.yaml --target-branch ${{ github.base_ref }} --check-version-increment=false

      - name: Create kind cluster
        uses: helm/kind-action@v1.2.0

      - uses: azure/setup-kubectl@v2.0
        id: install
      - name: Setup OpenShift dependencies
        run: |
          kubectl apply -f deployment/hack/crds/*.yaml
          kubectl wait --for condition="established" -f deployment/hack/crds/*.yaml
          kubectl create ns console-plugin-nvidia-gpu
          openssl req -x509 \
            -newkey rsa:2048  \
            -sha256 \
            -new -nodes  \
            -days 365 \
            -keyout ca.key \
            -out ca.crt \
            -subj "/CN=example.com"
          kubectl create -n console-plugin-nvidia-gpu secret tls plugin-serving-cert --key ca.key --cert ca.crt

      - name: Run chart-testing (install)
        run: ct install --namespace console-plugin-nvidia-gpu --config deployment/ct.yaml --target-branch ${{ github.base_ref }}
